h1{
  margin-bottom: 30px !important;
  text-decoration:underline
}

.app-container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  padding: 20px;
  overflow: auto;
  background-color: rgb(220, 245, 238);
}

.right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.id-form{
  margin-bottom: 20px;
}

.btn {
  margin: 5px 0 5px 0;
}

.buttons {
  display: block;
}

img {
  width: 200px;
  height: 200px;
  margin: 0 30px 20px 0;
}

.edit {
  margin: 15px 0 15px 0;
}